@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@flaticon/flaticon-uicons/css/all/all";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer base {
  body {
    @apply dark:bg-[#161616] bg-[#F4F4F4] transition-all ease-in duration-200;
  }
}

@layer utilities {
  .animation-delay-4000 {
    animation-delay: 19s;
  }
}
html, body, * {
  cursor: none !important;
  -webkit-tap-highlight-color: transparent; /* prevents tap highlight */
  user-select: none;                        /* optional: prevent text selection */
  touch-action: manipulation;              /* optional: prevent long press */
}

/* .menu a {
  position: relative;
} */
/* 
.menu a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  rotate: -41deg;
  color: azure;
  background: url(https://assets.codepen.io/162656/long-arrow.svg) no-repeat -85px
    0 / contain;
  transition: background-position 0.3s ease-in-out;
}

.menu a:hover::before {
  background-position: 0;
} */
:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.hero-section {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
  border-radius: var(--spacing-l);
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.3s;
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  transition: transform 0.3s, filter 0.3s;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
}

.card:hover .card__background {
  transform: scale(1.05);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-l);
}

.card__tech {
  color: var(--text-light);
  font-size: 0.75rem;
  font-style: italic;
}


.card__heading {
  color: var(--text-lighter);
  font-size: 1.2rem; /* smaller */
  font-weight: 600;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.3; /* tighter */
  margin: 0;
}
